*{
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-color: rgb(41, 72, 139);
    color: white;
    
}

header{
    text-align: center;
    font-size: 35px;
}

#grid-container{
    width: 550px;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    /* background-color: #2196F3; */
    padding: 10px;
    margin: auto;
}

#grid-container > div{
    background-color: green;
    height: 200px;
    /* border: 3px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-family: 'Wallpoet', cursive;

}

#restart{
    position: absolute;
    left: 40px;
    bottom: 300px;
    width: 200px;
    height: 80px;
    border: 5px dotted green;
    background-color: yellowgreen;
    font-size: 30px;
    
}

#reset-score{
    position: absolute;
    right: 40px;
    bottom: 300px;
    width: 200px;
    height: 80px;
    border: 5px dotted blue;
    background-color: yellowgreen;
    font-size: 30px;
    
}

#winner{
    position: absolute;
    left: 40px;
    top: 150px;

}

#player1{
    position: absolute;
    right: 40px;
    top: 150px;
}

#player2{
    position: absolute;
    right: 40px;
    top: 200px;
}

.bigger-font{
    font-size: 25px;
}

